.ViewerCont {
    flex-grow: 1;
    background-color: transparent !important;
    width: 400px;
}

.Parent {
    display: flex;
    background-color: #fff;
    height: 600px;
    margin: 0 auto;
    width: 75%;
    margin-top: 6em;
}

.Child {
    background: #1e84c2;
    margin: 7px;
    padding: 4px 9px;
    width: 24%;
    height: 100px;
    display: flex;
    align-items: center;
}

.Child p {
    width: 100%;
}